/* My CSS Style sheet */

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-weight: bold;
}
.bodi{
    padding-top: 26px;
    overflow: hidden;
}

h4 {
    font-weight: bolder;
}

.rajbacklogin {
    /* background-color: aquamarine; */
    background-image: url("backgrounds/back001.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.rajbackinfo {
    background-color: lightblue;
    /* background-image: url("backgrounds/back007.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.rajbackforgot {
    background-image: url("backgrounds/back009.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.rajbackwelcome{
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
}

.rajfontbody {
    font-style: Times;
}

.rajfontheading {
    font-size: 20;
    font-family: "Times New Roman", Times, serif;
    font-kerning: normal;
}

.rajfontweight {
    font-weight: bold;
}

.form-check {
    padding-left: 0;
}



/* font-size: large;
font-size: 150%;
font-size: 15px; */